paramiko
cryptography
nest-asyncio
tiktoken
fastembed
langchain
llama-index
llama-index-fastembed 
llama-index-node-parser 
llama-index-retrievers 
llama-index-memory 
llama-index-chat-engine
llama-index-llms-ollama
llama-index-embeddings-fastembed
